.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(45, 45, 45);
  color: white;
  height: 80px;
}

.navbar-logo {
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.navbar-lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  list-style: none;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}

nav ul li {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

nav ul li:hover {
  color: black;
}

nav ul li:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: transparent;
}
nav ul li:hover:after {
  animation: circle 0.5s ease-in forwards;
}

.navbar-icon {
  font-size: 30px;
  cursor: pointer;
}

/* Keyframes */
@keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 1%;
    height: 1px;
    z-index: -1;
    background: rgb(255, 255, 255);
    border-radius: 100%;
  }
  100% {
    background: #009c9f;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}
